.header {
    background-color: #333;

    a {
        text-decoration: none
    }

    button {
        outline: none;
        border: none
    }

    .container {
        @include flexbox(row, space-between, center);
    }
}

.header__currency {
    * {
        font-family: "Montserrat";
        color: rgb(119, 119, 119);
        text-align: left;
    }

    select {
        background-color: transparent;
        border: none;
        outline: none;

        option {
            background-color: transparent;
        }
    }
}

.header__authorization {
    @include flexbox(null, null, center);

    .authorization__item {
        @include flexbox(null, null, center);

        a,
        button {
            color: rgb(153, 153, 153);
            font-family: "Montserrat";
            display: block;
        }
    }

    .header-register {
        text-transform: capitalize;

        a {
            transition: background-color .5s, color .5s;

            &:hover {
                background-color: rgb(153, 153, 153);
                color: #333;
            }
        }
    }

    .header-cart {
        button {
            color: #fff;
            background-color: rgb(0, 200, 200);

            span+i {
                transform: rotateZ(-90deg);
            }
        }
    }
}

.authorization__item {
    position: relative;
}

.cart-btn:hover+.card,
.card:hover {
    display: block;
}

.card {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 2;

    input[type="button"] {
        background-color: #00B4CB;
        color: #fff;
    }

    input {
        border-radius: 5px;
        padding: 5px 10px;
        border: none;
        outline: none;
    }

    .card-main {
        box-shadow: 0 0 5px rgba(0, 0, 0, .4);
        background-color: #F8F8F8;
        padding: 10px;
        @include flexbox(column, none, center);
    }

    .card-main-footer {
        @include flexbox(row, space-between, center);

        button {
            margin: 0 5px;
        }
    }

    .card-main-product {
        padding: 10px 0;

        .card-product-item {
            @include flexbox(row, space-between, center);
            padding: 5px 0;
        }

        .card-product-img {
            img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                border: 1px solid #333;
            }
        }

        .card-product-name {
            white-space: nowrap;
            color: #333;
            padding: 0 5px;
        }

        .card-product-count {
            padding: 0 5px;

            input {
                width: 50px;
                border: 1px solid #333;
            }
        }
    }
}