.brand-banner {
    background: url(../image/intro.png) !important;
    background-size: auto 100% !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    .banner-wrapper {
        background-color: #f8f8f8;
    }
    .banner__header {
        .container {
            @include flexbox(row, space-between, center);
        }
    }

    .banner__item {
        text-align: center;
        font-family: 'Montserrat';
        color: rgb(255, 255, 255);
        text-transform: uppercase;

        .banner__title {
            line-height: 1.125;
            span {
                font-weight: bold;
            }
        }
        .banner__subtitle {
            line-height: 1.8;
        }
    }
}
