*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

select,
button,
label {
	cursor: pointer;
}

// VARIABLES
@import './variables';
// MIXINS
@import './mixins';

a {
	text-decoration: none;
}

ul {
	list-style: none;
}
// STYLE RESPONSIBLE
@import './mediaQuery/mediaQueryStyle';

// HOME PAGE STYLE
@import './header';
@import './mediaQuery/mediaQueryHeader';

@import './banner';
@import './mediaQuery/mediaQueryBanner';

@import './items';
@import './mediaQuery/mediaQueryItems';

@import './lookbook';
@import './mediaQuery/mediaQueryLookbook';

@import './footer';
@import './mediaQuery/mediaQueryFooter';


// THE BRAND PAGE STYLE
@import './theBrandBanner';
@import './mediaQuery/mediaQueryTheBrandBanner';

@import './theBrandContent';
@import './mediaQuery/mediaQueryTheBrandContent';


// LOCAL STORES PAGE STYLE
@import './maps';
@import './mediaQuery/mediaQueryMaps';


// LOOKBOOK PAGE STYLE
@import './lookbookItems';
@import './mediaQuery/mediaQueryLookbookItems';

// SIGN PAGE STYLE
@import './sign';
@import './mediaQuery/mediaQuerySign';